@import '../../common/colors.scss';

.ital {
	font-style: italic;
}

#packages-page {
	margin: 50px 0;
}

#cta-button {
	background-color: $blue;
	border: none;
	border-radius: 13px;
	text-align: center;
	margin: 20px 0;
}

#link {
	color: white;
	padding: 20px;
	text-decoration: none;
}

#packages-title {
	font-size: 40px;
	color: $blue;
	margin: 40px 0 40px;
}

.outer-packages {
	margin: 15px 0px 15px 0px;
}

.packages {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	align-items: center;
}

#systemization-package,
#implementation-package,
#onboarding-package,
#custom-package {
	border: 5px solid $yellow;
	border-radius: 15px;
	padding: 15px 25px 25px 25px;
	color: $black;
	background-color: rgba(255, 255, 255);

	h5 {
		color: $blue;
		font-size: 30px;
		margin: 15px 0;
	}
}

#iphone-icons,
#hands,
#implementation-image,
#onboarding-image {
	width: 100%;
}

@media only screen and (min-width: 860px) {
	.packages {
		text-align: left;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			' a b '
			' c d '
			' e f'
			' g h ';
		gap: 30px;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.outer-packages {
		background-color: white;
	}

	#systemization-package {
		grid-area: a;
	}

	#tech-icons {
		grid-area: b;
		width: 100%;
	}

	#implementation-package {
		grid-area: d;
	}

	#onboarding-package {
		grid-area: e;
	}

	#hands {
		grid-area: f;
		width: 100%;
	}

	#custom-package {
		grid-area: h;
	}

	#implementation-image {
		grid-area: c;
	}

	#onboarding-image {
		grid-area: f;
	}
}
