@import '../../common/colors.scss';

.ital {
	font-style: italic;
}

#packages-page {
	margin: 50px 0;
}

p {
	width: 100%;
}
.package-button {
	background-color: $blue;
	border: 0px solid $black;
	border-radius: 15px;
	text-align: center;
	margin: 10px 0;
	// padding: 10px;
	box-shadow: 2px 2px black;
	font-size: 20.8px;
	width: auto;
}

#link {
	color: white;
	padding: 20px;
	text-decoration: none;
}

#packages-title {
	font-size: 32px;
	color: $blue;
	margin: 30px 0 50px;
}

.outer-packages {
	margin: 0px 0px 15px 0px;
}

.packages {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	align-items: center;
}

#systemization-price,
#implementation-price,
#onboarding-price {
	margin-bottom: 0;
	margin-top: 16px;
	font-size: 20.8px;
	text-align: center;
}

#systemization-package,
#implementation-package,
#onboarding-package,
#custom-package {
	border: 1px solid $black;
	border-radius: 15px;
	padding: 15px 25px;
	color: $black;
	background-color: $yellow-transparent;
	box-shadow: 2px 2px black;
}

h5 {
	color: $blue;
	font-size: 30px;
	margin: 15px 0;
}

#iphone-icons,
#hands,
#implementation-image,
#onboarding-image {
	width: 100%;
	border-radius: 15px;
	box-shadow: 2px 2px black;
}

.reverse-div {
	flex-direction: row-reverse;
}

.word-side {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: left;
}

@media only screen and (min-width: 860px) {
	.packages {
		text-align: left;
		display: flex;
		gap: 30px;
		flex-direction: column;
		align-items: center;
		width: 84%;
		margin: 0 auto;
		margin-bottom: 0px;
	}

	.outer-packages {
		background-color: rgb(255, 255, 255);
	}

	.word-side {
		display: flex;
		flex-direction: column;
		width: 45%;
		align-items: center;
		text-align: left;
	}

	#onboarding-package,
	#systemization-package {
		display: flex;
		flex-direction: row;
		gap: 15px;
		justify-content: space-evenly;
	}

	#implementation-package,
	#custom-package {
		display: flex;
		flex-direction: row-reverse;
		gap: 15px;
		justify-content: space-evenly;
	}

	.img-div {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.package-button {
		background-color: $blue;
		border: 0px solid $black;
		border-radius: 15px;
		text-align: center;
		margin: 10px 0;
		box-shadow: 2px 2px black;
		font-size: 20.8px;
		width: auto;
	}
}
