@import '../../common/colors.scss';

#packages-page {
  margin: 50px 0;
}

#cta-button {
	background-color: $blue;
	border: none;
	border-radius: 13px;
	text-align: center;
	margin: 20px 0;
}

#packages-title {
	font-size: 40px;
	color: $blue;
	margin: 5px 0 25px;
}

.outer-packages {
	margin: 15px 0px 15px 0px;
}

.packages {
	box-align: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 95%;
	margin: 0 auto;
	background-color: white;
}

#systemization-package,
#implementation-package,
#onboarding-package {
	border: 5px solid $yellow;
	border-radius: 15px;
	padding: 15px 25px 0 25px;
	color: $black;
	background-color: rgba(255, 255, 255);;
  	width: 80%;
	text-align: center;

	h5 {
		color: $blue;
		font-size: 30px;
		margin: 15px 0;
	}
}
@media only screen and (min-width: 860px) {
	.services {
		text-align: left;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			' a '
			' b '
			' c ';
		gap: 30px;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	// .outer-service {
	// 	background-color: white;
	// }

	#systemization-package {
		grid-area: a;
	}

	#implementation-package {
		grid-area: b;
	}

	#onboarding-package {
		grid-area: c;
	}
}
