@import '../../common/colors.scss';

.about-section {
	padding: 10px 0 10px 0;
}

#outer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $black;
	margin: 0 8%;
	border-radius: 15px;
	padding: 15px 25px;
	background-color: $yellow-transparent;
	box-shadow: 2px 2px;
}

.line {
	border-top: 1px solid $blue;
}

#about-header {
	color: $blue;
	font-size: 32px;
	text-align: center;
}

#about-blurb {
	color: $black;
	font-size: 20px;
	text-align: left;
}

.ital {
	font-style: italic;
}

#windows {
	width: 330px;
	border-radius: 15px;
	box-shadow: 2px 2px;
	text-align: center;
}

@media only screen and (min-width: 1340px) {
	.about-section {
		display: flex;
		flex-direction: row-reverse;
		gap: 35px;
	}

	#about-header {
		text-align: center;
		// margin: 0 0 22px;
		font-size: 32px;
	}

	#outer-section {
		margin: 0 10%;
	}

	#about-blurb {
		text-align: left;
		color: $black;
		font-size: 23px;
		padding-top: 10px;
		padding-bottom: 10px;
		// margin: 0 0 20px;
	}

	#windows {
		width: 50%;
		width: 330px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		border-radius: 15px;
		box-shadow: 2px 2px;
	}

	p {
		margin-bottom: 0;
	}
}
