@import '../../common/colors.scss';

.about-section {
	padding: 20px 15px;
	margin: 5px 15px;
	border-radius: 5px;
}

#about-header {
	color: $blue;
	font-size: 26px;
}

#about-blurb {
	color: $black;
	font-size: 18px;
	text-align: justify;
	margin: 18px 30px;
}

.ital {
	font-style: italic;
}
