@import '../../common/colors.scss';

.line {
	border-top: 1px solid $blue;
}

#pitch {
	background-color: white;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	margin: 0 8% 10px 8%;
}

#pitch > p {
	text-align: left;
	padding-top: 20px;
}

#home-button {
	background-color: $blue;
	border: 0px solid $black;
	border-radius: 15px;
	text-align: center;
	margin: 20px 0;
	// width: fit-content;
	box-shadow: 2px 2px;
	justify-items: center;
}


#content{
	width: 75%;
	margin: 30px 0 10px 0;
	border-radius: 15px;
	color: $black;
	justify-content: center;
	box-shadow: 2px 2px;
}

#link {
	color: white;
	padding: 20px;
	text-decoration: none;
}

.top-line {
	color: $black;
	font-size: 19.2px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

#heading {
	color: $blue;
	font-size: 32px;
	text-align: center;
	// padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	// padding-bottom: 15px;
	}

#content-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex: 1;
	margin-top: 150px;
	border: 1px solid $black;
	border-radius: 15px;
	padding: 15px 25px;
	color: $black;
	background-color: $yellow-transparent;
	justify-content: center;
	box-shadow: 2px 2px;
}

@media only screen and (min-width: 1025px) {
	#pitch {
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-areas: ' a b ';
		width: 84%;
	}

	#content-body {
		grid-column: 1/2;
		grid-area: a;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-top: 150px;
		border: 1px solid $black;
		border-radius: 15px;
		padding: 15px 25px 0px 25px;
		color: $black;
		background-color: $yellow-transparent;
		margin-right: 16px;
	}

	#heading {
		display: flex;
		flex-direction: column;
		color: $blue;
		font-size: 32px;
		text-align: center;
		// padding-bottom: 20px;
		margin: 0;
		}

	#topline {
		display: flex;
		flex-direction: column;
	}

	#photo{
		grid-column: 2/2;
		grid-area: b;
		margin: 150px 0px 0px 16px;
		align-self: center;
	}

	#content{
		width: 100%;
		border-radius: 15px;
		color: $black;
		// justify-content: space-evenly;
		}

	#pitch {
		margin: 0 8% 16px 8%;
	}

	#home-button {
		background-color: $blue;
		border: 0px solid $black;
		border-radius: 15px;
		text-align: center;
		margin: 20px 33%;
		box-shadow: 2px 2px;
		justify-items: center;
		align-self: center;
	}
}