@import '../../common/colors.scss';

.line {
	border-top: 1px solid $blue;
}

#content {
	text-align: center;
	margin: 50px 30px;
	color: $black;
	font-size: 22px;	
}

#pitch {
	border: 5px solid $blue;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.856);
	padding: 15px;
}

#cta-button {
	background-color: $blue;
	border: none;
	border-radius: 13px;
}

#link {
	color: white;
	padding: 10px;
	text-decoration: none;
}

#top-line {
	color: $blue;
	font-size: 32px;
}

#bottom-line {
	color: $yellow;
	font-size: 26px;
}

#test-img {
	width: 100%;
	margin: 0 0 25px;
}

#service-title {
	font-size: 40px;
	color: $blue;
	margin: 5px 0 25px;
}

.services {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 95%;
	margin: 0 auto;

	ul {
		list-style-type: circle;
	}
}

#systemization,
#strategizing,
#onboarding,
#accountability {
	border: 5px solid $blue;
	border-radius: 15px;
	padding: 15px 25px 0 25px;
	color: $black;
	background-color: rgba(255, 255, 255, 0.856);


	h5 {
		color: $blue;
		font-size: 30px;
		margin: 15px 0;
	}
}

@media only screen and (min-width: 860px) {
	.services {
		text-align: left;
		display: grid;
		// grid-template-columns: 10% 35% 35% 20%;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
			" a b "
			" c d "
		;
		gap: 30px;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	#systemization {
		// grid-column: 2/3;
		grid-area: a;
	}

	#strategizing {
		// grid-column: 3/4;
		grid-area: b;

	}

	#onboarding {
		// grid-column: 2/3;
		// grid-row: 2/3;
		grid-area: c;

	}

	#accountability {
		// grid-column: 3/4;
		// grid-row: 2/3;
		grid-area: d;

	}
}
