@import '../../common/colors.scss';

#contact-header {
	display: flex;
	justify-content: space-around;
	color: $blue;

	h1 {
		margin-top: 0;
	}

	#contact-blurb {
		max-width: 60%;
		margin-top: 0;
    color: $black;

		p {
			margin-top: 0px;
		}
	}
}
