@import '../../common/colors.scss';


.details-section {
	padding: 15px 25px 15px 25px;
	margin: 0 8%;
	border: 1px solid $black;
	border-radius: 15px;
	padding: 15px 25px;
	background-color: $yellow-transparent;
	box-shadow: 2px 2px;
	
}

#details-header {
	color: $blue;
	font-size: 32px;
}

#details-blurb {
	text-align: left;
	color: $black;
	font-size: 23px;
	// padding-top: 10px;
	// padding-bottom: 10px;
	margin: 0 0 20px;
}

#workwithus {
	width: 100%;
	// border: 1px  solid $black;
	border-radius: 15px;
	box-shadow: 2px 2px;
	text-align: center;
}

a {
	color: $blue;
}

#package-link {
	text-align: left;
}

.img-div-details {
	text-align: center;
}

@media only screen and (min-width: 1210px) {
	.details-section {
		flex-direction: row;
	}

	#details-header {
		text-align: center;
		margin: 0 0 22px;
		font-size: 32px;
	}

	#details-blurb {
		text-align: left;
		color: $black;
		font-size: 23px;
		// padding-top: 10px;
		padding-bottom: 10px;
		margin: 0 0 20px;
	}
	.word-side-details {
		display: flex;
		flex-direction: column;
		width: 45%;
		align-items: left;
		justify-content: space-around;
	}
	
	#details-blurb {
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: space-evenly;
	}

	.img-div-details {
		width: 55%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	#workwithus {
	width: 425px;
	// border: 1px  solid $black;
	border-radius: 15px;
	box-shadow: 2px 2px;
	text-align: center;
}
}
