@import '../../common/colors.scss';

.contact-section {
	padding: 15px 25px 15px 25px;
	border: 2px solid $yellow;
	border-radius: 5px;
	margin: 0 15px 0;
	display: flex;
	flex-direction: column;
}

#contact-header {
	color: $blue;
	text-align: left;

	h1 {
		margin: 0 0 8px;
		font-size: 32px;
	}
}

#contact-blurb {
	color: $black;
	font-size: 20px;
	text-align: left;
}

a {
	color: $blue;
}

@media only screen and (min-width: 680px) {
	.contact-section {
		flex-direction: row;
	}

	#contact-header > h1 {
		margin: 0 15px 0;
		font-size: 32px;
	}

	#contact-blurb {
		margin: 0 15px 0;
		text-align: justify;
	}


}
