#header {
	text-align: center;
	padding: 15px 0;
}

#logo {
	width: 85%;
}

// #title {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 13.5px;

// 	img {
// 		width: 85%;
// 	}
// }

// #icon {
// 	width: 17%;
// }

// #streamlined {
// 	margin-top: 10px;
// }
