@import '../../common/colors.scss';

#testimonials {
	text-align: center;
	margin-bottom: 40px;
	padding: 20px;
	background-color: white;
}

h1 {
	color: $blue;
	text-align: center;
}

.background {
  width: 675px;
}

// .test-body {
//   font-size: 1rem;
//   // font-size: 5vh;
// }

// .test-name {
//   text-align: right;
// }

// .test-company {
//   text-align: right;
// }

// @media only screen and (min-width: 377) {
//   .test-body {
//     font-size: 1.1rem;
//   }
// }

// @media only screen and (min-width: 480px) {
//   .test-body {
//     font-size: 1.3rem;
//   }
// }

// @media only screen and (min-width: 968px) {
//   .test-body {
//     font-size: 1.8rem;
//   }
// }

// @media only screen and (min-width: 1070px) {
// 	// .background {
// 	// 	width: 675px;
// 	// 	height: 375px;
// 	// }
//   .test-body {
//     font-size: 2rem;
//   }
// }
