@import '../../common/colors.scss';

#testimonials {
	text-align: center;
	margin-bottom: 40px;
	padding: 20px;
	background-color: white;
}

h1 {
	color: $blue;
	text-align: center;
}

.testimonial-img {
  width: 55%;
}