@import '../../common/colors.scss';

#testimonials {
	text-align: center;
	align-items: center;
}

h1 {
	color: $blue;
	text-align: center;
}

.testimonial-img {
	width: 92%;
}



@media only screen and (min-width: 960px) {
	.testimonial-img {
		width: 50%;
	}

	#testimonial-header{
		color: $blue;
		text-align: center;
		margin: 12px 0 12px;
		font-size: 32px;
	}
}
